.card {
  background-color: transparent;
  color: white;
  background-image: cover;
  padding: 20px;
  border-color: gray;
  font-size: 20px;
  border: 0.5px solid lightgray;
  margin: 3px;
  border-radius: 5%;
  opacity: 0.5;

}

.card .a {
  color: #2A5DB0;
}

#add_cocktail {
  color: white;
}

.btn {
  background-color: transparent;
  text-align: center;
  border: 2px solid white;
}

#new {
color: white;
background-color: transparent;
}


.transparent {
  background-color: transparent;
}
